[[source]]
url = "https://mirrors.cloud.tencent.com/pypi/simple"
verify_ssl = true

[packages]
numpy = "*"
pandas = "*"
nltk = "*"
vadersentiment = "*"
nlpia = "*"
sklearn = "*"
scipy = "*"
keras = "*"

[dev-packages]

[requires]
python_version = "3.9"
